/* box around each item */
* {
    box-sizing: border-box;
  }
  
  body, main {
    font-family: Arial;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgb(237, 106, 244) 0%, rgb(250, 242, 248) 63%);
    align-items: center; 
  }
  
  /* reset score button */
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }

  /* QUIZ Questions: shows multiple choices */
  #quiz-container {
    display: none; 
    
  }

  #quiz-buttons {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: inline-flex; 
    flex-direction: column; 

    
  }
    
  /* start quiz button */
  button {
    background: radial-gradient(circle, rgb(252, 251, 251) 0%, rgba(10, 0, 0, 0.954) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }

  /* choices button */
  
  /*HEADER:  View High Scores + Time Left */
  header {
    padding: 10px;
    text-align: start;
    color: black;
    width: 100vw; 
  }

  .highscores {
    display: flex;
    justify-content: space-between;    
  }


  .highscores a {
    padding: 20px;
  }

  .timer {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
  }
    
/* CODING QUIZ CHALLENGE + ACTUAL # OF SECONDS REMAINING */
  .large-font {
    font-size: 3.5em;
    text-align:center; 
  }
  
  
  /* another time box- ? */
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
   
  }


  /* outline: 3px solid limegreen !important;
background rgba (1, 151, 0, 0.1) !important; */

